*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    background-color: #5A20CB;
    padding: 50px;
    border-radius: 50px 50px 0 0px;
}

.logo {
    padding: 10px;
    margin-left: 25px;
}

.navbar {
    display: flex;
}
.nav-item{
    margin-top: 15px;
    list-style: none;
    float: left;
    margin-right: 30px;
    font-weight: 700;
    color: #fff;
}
.signin-btn{
    border-radius: 2px;
    padding: 8px 8px;
    text-align: center;
    background-color: rgb(27, 188, 239);
    color: #fff;
    border: none;
    margin-top: -20px;
}


  .list-items {
    margin-left: 585px;
    margin-top: 27px;


}
.navbar-extend{
    display: flex;
}
.navbar-right img{
    height: 600px;
    width: 633px;
}
.navbar-left h1{
    width: 622px;
    font-size: 50px;
    color: #fff;
    margin-top: 117px;
}
.navbar-left h4{
    margin-top: 37px;
    width: 622px;
    color: #fff;
}

.second-section{
    display: flex;
}
.second-left-section img {
    height: 589px;
    width: 650px;
}
.second-right-section{
    margin-bottom: 190px;
    margin-left: 250px;
}
.second-right-section h1{
    margin-top: 170px;
    margin-bottom: 40px;
}
.second-right-section h4{
    margin-bottom: 20px;
    margin-left: 40px;
    font-size: 23px;
}
.second-right-section h5{
    margin-bottom: 50px;
    margin-left: 70px;
    font-weight: normal;
    color: #242B2E;
}
.color1{
    color: #EDC126;
}
.color2{
    color: #3DBE29;
}
.color3{
    color:#23C4ED
}

.third-section .heading
{
    display: flex;
    justify-content: center;
   
}
.third-section .heading h4
{
    font-size: 30px;
    text-indent: -2.3em;
}
.cards{
    
    justify-content: center;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.card{
    width: 200px;
    height: 250px;
    background-color: transparent;
    border-radius: 10px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.card-active{
    width: 200px;
    height: 250px;
    border-radius: 10px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-logo{
    margin-left: 40px;
    margin-top: 30px;
    width: 110px;
    padding: 27px;
    background: #ffe4e1;
    
    clip-path: circle();
    color: #fff;
}

.card-head{
    color: black;
    margin-left: 30px;
}

.card-head-active{
    color: #fff;
    margin-left: 40px;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 5px;
}

.card-body-active{
    
    color: #fff;
    margin-left: 45px;
    text-indent: -1.2em;
    font-size: small;
    
}
.card-body{
   
    margin-left: 45px;
    text-indent: -1.2em;
    font-size: small; 
}
.card-head{
    margin-left: 30px;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 5px;
    font-weight: bolder;
}
.circlebox{
    background-color: #5A20CB;
    margin-left: 8px;
    height: 85px;
    width: 180px;
    border-radius: 5%;
}
@media screen and (max-width:640px) {

    .logo {
        padding: 10px;
        margin: 25px;
    }
    .list-items {
        display: none;
    }
    .navbar-extend{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .navbar-left h1{
        text-align: center;
        margin-left: 2rem;
    }
    .navbar-left h4{
        text-align: center;
        width: 100%;
    }
  .second-section{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .second-left-section img{
    width: 391px;
  }
  .second-right-section{
    margin-right: 25rem;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .second-right-section h1{
    margin-top: 170px;
    margin-bottom: 40px;
    margin-left: 160px;
  
    width: 600px;
}
.second-right-section h4{
 
    width: 600px;
    margin-left: 160px;
}
.second-right-section h5{
    margin-left: 160px;
}
.cards {
    flex-direction: column;
    align-items: center;
}
.card-active{
    width: 200px;
}
.card{
    width: 200px;
}
}